* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, textarea {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}
body {
    font-family: Assistant, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.statusbar-overlay {
    background: #83c2be;
}
.page {
    background: #fff;
}
.page-content {
    padding-top: 69px;
}
.with-tabbar .page-content {
    padding-bottom: 50px;
}
.with-tabbar-button .page-content {
    padding-bottom: 115px;
}
.none-padding-page .page-content{
    padding-top: 0;
}
.list-block {
    margin: 25px 0;
}
.list-block.none-border > ul:before {
    background-color: transparent;
}
.list-block.none-border > ul:after {
    background-color: transparent;
}
.list-block.none-border .item-inner:after {
    background-color: transparent;
}

.list-block.none-border .item-content {
    padding-right: 15px;
}
.list-block.none-border .item-inner:after {
    background-color: transparent;
}

.list-block.none-border .item-inner {
    border-bottom: 1px solid #EAEAEA;
    height: 60px;
}

.select-list .list-block {
    margin: 12px 0;
    font-size: 14px;
    color: #6b6b6b;
}
.select-list .item-content {
    padding-right: 15px;
}
.select-list .item-link .item-inner {
    height: 60px;
    padding: 15px;
    background-position: calc(100% - 15px) center;
    background-size: 7px 14px;
    background-image: url(/static/images/forward-arrow.png);
}
.select-list .item-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.select-list .first-list {
    margin-top: 0;
}
.select-list .last-list {
    margin-bottom: 0;
}
.modal {
    border-radius: 7px;
}
.modal .modal-inner{
    border-radius: 7px 7px 0 0;
    background: #fff;
}
.modal .modal-inner:after{
    background-color: transparent;
}
.modal .modal-buttons {
    background: #fff;
    padding: 16px 5px 20px 5px;
}
.modal .modal-button{
    background: #83c2be;
    display: block;
    color: #fff;
    width: 90%;
}
.modal .modal-button:first-child:last-child {
    border-radius: 0;
}

.modal .modal-title {
    color: #8DC6C3;
    padding: 15px 0;
    font-size: 25px;
}
.modal .modal-text {
    font-size: 18px;
}

.modal .modal-buttons-2 {
    padding: 16px 0 0;
}
.modal-buttons-2 .modal-button {
    border-radius: 0px;
}
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    background: #8ec9c5;
}
label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after {
    background-image: url(/static/images/radio-circle.png);
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox {
    background-color: #8ec9c5;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after {
    background-image: url(/static/images/check.png);
}
.accordion-style1 .item-link .item-inner {
    background-image: url(/static/images/plus.png);
    background-size: 14px 14px;
}
.accordion-style1.list-block:not(.media-list)
.accordion-item-expanded:not(.media-item)>.item-link .item-inner {
    background-image: url(/static/images/minus.png);
    background-size: auto;
    border-bottom: 0;
}
.accordion-item-content {
    /* Fix for disappearing content on scroll - iOS */
    border-top: 1px solid transparent;
}
.accordion-style1 .content-block {
    padding: 0 30px;
}
.accordion-style1 .item-content {
    color: black;
    font-size: 12pt;
}
.accordion-style1 .item-content.item-link.active-state {
    background-color: #f6f7f8;
}
.accordion-style1 .item-content .item-inner{
    padding-left: 15px;
}

.accordion-style2 {
    margin: 0 0 10px 0; 
}
.accordion-style2 .item-content {
    padding-left: 30px;
    background: #83c2bd;
}
.accordion-style2 .item-content.item-link.active-state {
    background: #83c2bd;
}
.accordion-style2  .accordion-item-expanded .item-content {
    background: #4da7a1;
}
.accordion-style2 .accordion-item {
    margin-bottom: 2px;
}
.accordion-style2 .accordion-item-expanded  .accordion-item-content {
    background: #F5F5F5;
    padding: 10px 0;
}
.accordion-style2 .content-block, .additional-information {
    background: #fff;
    padding: 20px 30px;
    font-size: 16px;
    color: #000;
    font-weight: normal;
}
.accordion-style2 .content-block a, .additional-information a {
    color: #369a93;
}
.accordion-style2 .content-block ul, .additional-information ul {
    padding-left: 20px;
}
.accordion-style2 .content-block ol, .additional-information ol {
    padding-left: 20px;
}
.accordion-style2 .content-block ul li, .additional-information ul li {
    list-style: none;
}
.accordion-style2 .content-block ul li:before, .additional-information ul li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -20px;
    top: -12px;
    color: #84c2bd;
    font-size: 30px;
}
.accordion-style2.list-block .item-inner {
    border-bottom: 0;
}
.accordion-style2 .item-title {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.accordion-style2 .item-link .item-inner {
    background-image: url(/static/images/arrow-down-white.png);
    background-size: auto;
}
.accordion-style2.list-block:not(.media-list)
.accordion-item-expanded:not(.media-item)>.item-link .item-inner {
    background-image: url(/static/images/arrow-up-white.png);
    background-size: auto;
}
.vue-popover {
    margin-top: 0;
}
.vue-popover.multi-buttons{
    margin-top: 25px;
}
.submit-toolbar {
    bottom: 50px;
    background: transparent;
    height: 55px;
}
.submit-toolbar.alt1 {
    bottom: 0;
}
.submit-toolbar:before {
    background-color: transparent;
}
.submit-toolbar .toolbar-inner {
    display: block;
    padding: 0;
}
.fade-opacity-none {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in;
       -moz-transition: opacity 0.8s ease-in;
        -ms-transition: opacity 0.8s ease-in;
         -o-transition: opacity 0.8s ease-in;
            transition: opacity 0.8s ease-in;
}
.fade-opacity-show {
    opacity: 1;
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}
.title-desktop {
    display: none;
}
@media only screen and (min-width: 1025px)  {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .page { 
        height: calc(100% - 75px);
        overflow: auto;
    }
    .page .page-content { 
        padding-top: 0;
        margin-top: 20px !important;
        width: 1024px;
        margin: 40px auto 0 auto;
        overflow: initial;
    }
    .title-desktop {
        display: block;
        position: relative;
    }
    .title-desktop > h2 {
        text-align: center;
        color: black;
        font-size: 24px;
    }
    .title-desktop > a {
        display: inline-block;
        position: absolute;
        top: -3px;
        right: 0;
        background: #83C2BE;
        color: #fff;
        padding: 10px 16px;
        cursor: pointer;
    }
    .title-desktop > div {
        text-align: center;
        margin-bottom: 20px;
    }
    .desktop-right-container {
        margin-top: 0 !important;
        display: inline-block;
        width: calc(100% - 295px);
        vertical-align: top;
        position: relative;
        height: 100%;
        padding: 0 15px 0 15px;
    }
}
.vue-image-crop-upload {
    height: 110% !important;
}

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) { 
    html.with-statusbar-overlay body {
        padding-top: 0;
    }
    html.with-statusbar-overlay body .statusbar-overlay {
        display: none;
    }
    html.with-statusbar-overlay .popup {
        height: 100%;
        top: 0;
    }
    html.with-statusbar-overlay .popup .header {
        padding-top: 5px;
    }
    a.close-popup.link {
        position: relative;
        top: 15px;
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline-block;
        line-height: 50px;
    }
    .page-content {
        padding-top: 109px;
    }
    .with-tabbar .page-content {
        padding-bottom: 70px;
    }
    .submit-toolbar {
        bottom: 70px;
    }
}
